@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'DM Sans', sans-serif;
}

.no-scroll {
    overflow-y: hidden;
    height: 100svh;
}

h1 {
    text-transform: uppercase;
    font-size: 6rem;
    font-weight: 600;
    line-height: 1;
}

p {
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 500;
}

.preloader, 
.split-overlay,
.tags-overlay {
    position: fixed;
    width: 100vw;
    height: 100svh;
}

.preloader,
.split-overlay {
    background-color: #0a0a0a;
    color: white;
}

.preloader,
.tags-overlay {
    z-index: 3;
}

.split-overlay {
    z-index: 2;
}

.intro-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
}

.outro-title {
    position: absolute;
    top: 50%;
    left: calc(50% + 10rem);
    transform: translate(-50%, -50%);
    letter-spacing: normal;
}

.tag {
    position: absolute;
    width: max-content;
    color: #5a5a5a;
    overflow: hidden;
}

.tag-1 {
    top: 15%;
    left: 40%;
}

.tag-2 {
    bottom: 15%;
    left: 25%;
}

.tag-3 {
    bottom: 30%;
    right: 15%;
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100svh;
    clip-path: polygon(0 48%, 0 48%, 0 52%, 0 52%);
    z-index: 2;
    background-color: #5546ff;
}

.container .mockup-hero {
    position: absolute;
    height: 600px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0%);
}

.container .download-apk-btn {
    position: absolute;
    right: 5rem;
    bottom: 5%;
    text-decoration: none;
    color: white;
    z-index: 2;
    font-size: 1rem;
    padding: 0.5rem 2rem;
    border: 1px solid rgba(255,255,255,0.3);
    border-radius: 999px;
    background-color: rgba(255,255,255,0.1);
    backdrop-filter: blur(24px);
    cursor: pointer;
}

nav {
    position: relative;
    width: 100vw;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    z-index: 2;
}

nav p#logo {
    font-weight: 600;
    font-size: 20px;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    clip-path: polygon(0% 50%, 100% 50%, 100% 50%, 0%  50%);
    background: white;
}

.card h1 {
    text-align: start;
    width: 100%;
    font-size: 3rem;
}

.card .char span {
    position: relative;
    display: inline-block;
    transform: translateY(100%);
    will-change: transform;
}

.intro-title .char, 
.outro-title .char,
.hero-title .char, 
.card .char {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

.intro-title .char, 
.outro-title .char {
    margin-top: 0.75rem;
}

.intro-title .char span,
.outro-title .char span,
.hero-title .char span,
.tag .word {
    position: relative;
    display: inline-block;
    transform: translateY(-100%);
    will-change: transform;
}

.intro-title .first-char {
    transform-origin: top left;
}

.container .hero {
    position: relative;
    color: white;
    padding: 1.5rem 0;
    text-align: center;
}

.mockup-hero img {
    height: 100%;
}

.hero .title {
    text-transform: uppercase;
    text-align: center;
    margin: 0 auto;
    font-size: 6rem;
}

.container .subtitle {
    position: absolute;
    width: 30%;
    bottom: 5%;
    left: 6%;
    font-size: 1.25rem;
    font-weight: 300;
    color: #f9f9f9;
    z-index: 2;
    opacity: 0;
}

.container .gradient {
    position: absolute;
    bottom: 0;
    height: 30%;
    width: 100%;
    background: linear-gradient(to top, rgba(10,10,10,1), rgba(255,255,255,0));
}

.about {
    position: relative;
    width: 100%;
    height: 100%;
    min-height: 100svh;
}

.about .about-content {
    width: 50%;
    margin: 0 auto;
    color: white;
    padding: 10rem 0;
}

.about-content p {
    text-transform: none;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.how-to-use-title {
    padding: 0 9rem;
    color: white;
}

.how-to-use {
    color: white;
    display:flex;
    padding: 0 4rem;
}

.how-to-use h1 {
    text-transform: unset;
	font-size: 2rem;
}

.how-to-use p {
    width: 80%;
    margin-top: 1rem;
    text-transform: unset;
	font-size: 1.25rem;
	line-height:1.4;
    font-weight: 300;
    opacity: 0.5;
}
  
.left {
    width:50%;
}

.right {
    height:100vh;
    /* outline:1px solid purple; */
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.desktopContent {
    margin:auto;
    width:80%;
}

.desktopContentSection {
    min-height:100vh;
    /* outline:1px solid green; */
    display:flex;
    flex-direction:column;
    justify-content:center;
}

.desktopPhotos {
    width:40vw;
    height:40vw;
    border-radius:20px;
    position:relative;
    overflow:hidden;
    box-shadow:4px 4px 4px rgba(0, 0, 0, 0.4);
}

.desktopPhoto {
    position:absolute;
    width:100%;
    height:100%;
}

.product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* small screen / mobile layout */
.mobileContent {
	display:none;
	width: 100%;
}

.mobilePhoto {
	width:80vw;
	height:80vw;
	margin-top:5em;
	border-radius:6vw;
    overflow: hidden;
}

.footer {
    position: relative;
    height: 80vh;
    color: white;
}

.footer > h1 {
    width: 100%;
    position: absolute;
    font-size: 18vw;
    bottom: -6rem;
    text-align: center;
}

@media (max-width: 1000px) {
    h1 {
        font-size: 2.5rem;
    }

    .outro-title {
        left: calc(50% + 4rem);
    }

    .card {
        width: 75%;
    }
    

    .card h1 {
        font-size: 2.5rem;
    }

    .intro-title .char, 
    .outro-title .char {
        margin-top: 0.5rem;
    }

    .hero .title {
        font-size: 3rem;
    }

    .container .download-apk-btn {
        right: 50%;
        bottom: 15%;
        font-size: 0.8rem;
        transform: translate(50%, 50%);
    }

    .container .subtitle {
        width: 80%;
        font-size: 0.8rem;
    }

    .container .mockup-hero {
        height: 540px;
    }

    .about .about-content {
        width: 85%;
        padding: 5rem 0;
    }

    .about-content p {
        font-size: 1.25rem;
    }

    .how-to-use-title {
        padding: 0 4rem;
    }

    .left {
		display:none;
	}
	
	.right {
		height:auto;
		width:100%;
		align-items:center;	
	}	
	
	.desktopPhotos {
		display:none;
	}
	
	.mobileContent {
		display:block;
	}

    .mobileContent h1 {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
    
    .mobileContent p {
        font-size: 1rem;
        width: 100%;
    }

    .footer {
        height: 50vh;
    }
}